*.class
*.iml
*.tmp
*.class
.project
.idea/
.classpath
.settings/
*/target/
/target/*
/target/
*.log
*.iml
.DS_Store
# Package Files #
*.jar
*.war
*.ear
*.zip
# filter
!/dist/src/main/resources/vertx/